.inline-block {
    display: inline-block;
    vertical-align: top;
    padding:2px;
    
}
.footer ul {
  display: inline-block;
  vertical-align: top;
  padding: 2%;
  
}
 footer {
  background-color: #373738;
   
  
}
.intDiv{
    width:33%;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    
}

nav {
    width: 73%;
    padding: 1%;
    
}

.ul {
    width: 50%;
    margin-left: auto;
    
}

.heroIMG {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin:  auto;

}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: justify;
    text-align: center;
}
.workGrid {
    display: grid;
    align-items: justify;
    text-align:center;
    grid-template-rows: 3;
    grid-template-columns: 1;
    grid-template-areas: 'project1 project2 project3';
    padding: 3px;

}
body {
    font-family: sans-serif;
}
.project1 {
    grid-area: project1;

}
.project2 {
    grid-area: project2;
}
.project3 {
    grid-area: project3;
}
.project4 {
    grid-area: project4;
}

@media only screen and (max-width: 600px)
{
    #flexContainer {
    display: flex;
    flex-direction: row;

  }
  #workGrid {
    display:grid;
    align-items: justify;
    text-align:center;
    grid-template-rows: 1;
    grid-template-columns: 3fr;
    grid-template-areas: 'project1 project2 project3';
    padding: 3px;

  }}
